body {
  padding: 0;
  margin: 0;
  background-color: #f0e7db;
}

.MuiInputBase-root {
  background-color: #fff;
  height: 40px !important;
}

.MuiInputBase-input {
  padding: 0 1rem !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: rgb(226, 232, 240) !important;
}